body {
  background-color: ##FFFFFF;
  color: ##0D0066;
  font-size: 16px
  background-image: url(images/bloc logo.png);
}

h1 {
  font-size: 32px;
  line-height: 1.5;
}

h3 {
  line-height: 1.5;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

a {
  text-decoration: none;
  }

a:hover {color: black;}

.logo {
  background-image: url(images/bloc-logo.png); /** do I need this here? **/
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
